<ul class="navbar-nav navbar-nav-hover ms-auto">
    @*Pages Part*@
    <li class="nav-item dropdown dropdown-hover mx-2">
        <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuPages"
           data-bs-toggle="dropdown" aria-expanded="false">
            <i class="material-icons opacity-6 me-2 text-md">dashboard</i>
            Sayfalar
            <img src="~/assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-auto ms-md-2">
        </a>
        <div class="dropdown-menu dropdown-menu-animation ms-n3 dropdown-md p-3 border-radius-xl mt-0 mt-lg-3"
             aria-labelledby="dropdownMenuPages">
            <div class="d-none d-lg-block">
               
                <a asp-area="" asp-controller="Page" asp-action="AboutUs" class="dropdown-item border-radius-md">
                    <span>Hakkımızda</span>
                </a>
                <a asp-area="" asp-controller="Page" asp-action="Contact" class="dropdown-item border-radius-md">
                    <span>İletişim</span>
                </a>
            </div>
            <div class="d-lg-none">
                
                <a asp-area="" asp-controller="Page" asp-action="AboutUs" class="dropdown-item border-radius-md">
                    <span>Hakkımızda</span>
                </a>
                <a asp-area="" asp-controller="Page" asp-action="Contact" class="dropdown-item border-radius-md">
                    <span>İletişim</span>
                </a>
            </div>

        </div>
    </li>
   
    @*Github Part*@
    <li class="nav-item ms-lg-auto">
        <a class="nav-link nav-link-icon me-2" href="https://github.com/ulasdurmus"
           target="_blank">
            <i class="fa fa-github me-1"></i>
            <p class="d-inline text-sm z-index-1 font-weight-bold" data-bs-toggle="tooltip"
               data-bs-placement="bottom" title="Star us on Github">Github</p>
        </a>
    </li>
    @*Acoount Part*@
    <li class="nav-item dropdown dropdown-hover mx-2">
        <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuPages"
           data-bs-toggle="dropdown" aria-expanded="false">
            <i class="material-icons opacity-6 me-2 text-md">dashboard</i>
            @(User.Identity.IsAuthenticated ? $"{User.Identity.Name}" : "Hesap")
            <img src="~/assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-auto ms-md-2">
        </a>
        <div class="dropdown-menu dropdown-menu-animation ms-n3 dropdown-md p-3 border-radius-xl mt-0 mt-lg-3"
             aria-labelledby="dropdownMenuPages">

            
            <h6 class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1">
                Hesap
            </h6>
            
            @if (User.Identity.IsAuthenticated)
            {
                @if (User.IsInRole("Therapist"))
                {
                    <a asp-area="" asp-controller="Account" asp-action="TherapistManage" asp-route-id="@User.Identity.Name" class="dropdown-item border-radius-md">
                        <span>Hesabım</span>
                    </a>
                    <a asp-area="" asp-controller="Service" asp-action="Index" asp-route-id="@User.Identity.Name" class="dropdown-item border-radius-md">
                        <span>İlanlarım</span>
                    </a>
                    <a asp-area="" asp-controller="Service" asp-action="Create" asp-route-id="@User.Identity.Name" class="dropdown-item border-radius-md">
                        <span>İlan Ekle</span>
                    </a>
                    <a asp-area="" asp-controller="Reservation" asp-action="Index"  class="dropdown-item border-radius-md">
                        <span>Rezervasyonlar</span>
                    </a>
                    <a asp-area="" asp-controller="Reservation" asp-action="Session"  class="dropdown-item border-radius-md">
                        <span>Seanslarım</span>
                    </a>
                }
                else if(User.IsInRole("Client"))
                {
                    <a asp-area="" asp-controller="Account" asp-action="ClientManage" asp-route-id="@User.Identity.Name" class="dropdown-item border-radius-md">
                        <span>Hesabım</span>
                    </a>
                    <a asp-area="" asp-controller="Reservation" asp-action="Index" class="dropdown-item border-radius-md">
                        <span>Rezervasyonlar</span>
                    </a>
                    <a asp-area="" asp-controller="Reservation" asp-action="Session" class="dropdown-item border-radius-md">
                        <span>Seanslarım</span>
                    </a>
                }
                <a asp-area="" asp-controller="Account" asp-action="Logout" class="dropdown-item border-radius-md">
                    <span>Çıkış Yap</span>
                </a>
            }
            else
            {
                <a asp-area="" asp-controller="Account" asp-action="Login" class="dropdown-item border-radius-md">
                    <span>Giriş Yap</span>
                </a>
                <h6 class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1">
                    Kayıt Ol
                </h6>
                <a asp-area=""
               asp-controller="Account"
               asp-action="Register"
               asp-route-id="0"
                   class="dropdown-item border-radius-md">
                    <span>Terapist Kaydı</span>
                </a>
                <a asp-area=""
               asp-controller="Account"
               asp-action="Register"
               asp-route-id="1"
                   class="dropdown-item border-radius-md">
                    <span>Danışan Kaydı</span>
                </a>
            }


        </div>
    </li>
    @*Admin Panel*@
    @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
    {
        <li class="nav-item my-auto ms-3 ms-lg-0">

            <a asp-area="Admin"
           asp-controller="Home"
           asp-action="Index"
               class="btn btn-sm  bg-gradient-primary  mb-0 me-1 mt-2 mt-md-0" target="_blank">Admin Panel</a>

        </li>
    }
</ul> 