@model ReservationAddViewModel
<div class="page-header align-items-start min-vh-100" style="background-color: bisque" loading="lazy">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container my-5">
        <div class="row">
            <div class=" col-12 mx-auto">
                <div class="card z-index-0 fadeIn3 fadeInBottom mt-6">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                            <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Rezervasyon Oluştur</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form asp-area=""
                              asp-controller="Reservation"
                              asp-action="Create"
                              method="post"
                              role="form" class="text-start ">

                            <div asp-validation-summary="All"></div>

                            <div class="row">
                                <div class="col-md-4">
                                    <h3 class="display-6">Terapist Bilgileri</h3>
                                    <div class="ms-3">
                                        <p><span>Ad Soyad:</span> @Model.User.FirstName @Model.User.LastName</p>
                                        <p><span>Email:</span> @Model.User.Email</p>
                                        <p><span>Telefon:</span> @Model.User.PhoneNumber</p>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    @{
                                        DateTime today = DateTime.Now;
                                        int year = today.Year;
                                        int month = today.Month;
                                        int day = today.Day +7 ;
                                        DateTime maximumDate = new DateTime(year,month,day);
                                        DateTime minimumDate = DateTime.Now;
                                    }
                                    <label asp-for="ReservationDate" class=" col-form-label"></label>
                                    <input type="date" asp-for="ReservationDate" class="form-control"
                                           max="@(maximumDate.ToString("0:yyyy-MM-dd"))"
                                           min="@(minimumDate.ToString("0:yyyy-MM-dd"))" value=@minimumDate.ToString("yyyy-MM-dd")>

                                </div>

                                <div class="col-md-4">
                                    @*Choosing Hour*@
                                    <div class="form-check">
                                        <div class="drop-down">
                                            <button class="btn btn-light dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">Saat Seçiniz</button>
                                            <ul class="dropdown-menu overflow-auto" style="height:300px;  width:370px;">

                                                @foreach (var hour in Model.ReservationHours)
                                                {
                                                    <li class="dropdown-item">
                                                        <div class="form-check ">
                                                            <input class="form-check-input" type="radio" name="ReservationHourId" value=@hour.Id>
                                                            <label class="form-check-label">@hour.Hour</label>
                                                        </div>
                                                    </li>
                                                }

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="my-3">
                                        <label asp-for="Price"></label>
                                        <p class="display-6 fs-5 text-success">@Model.Price</p>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">Kaydet</button>
                            </div>

                            <input type="hidden" asp-for="ClientId" />
                            <input type="hidden" asp-for="Price" />
                            <input type="hidden" asp-for="ServiceId" />
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
