@model ReservationListViewModel
<div class="page-header align-items-start min-vh-100" style="background-color: bisque" loading="lazy">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container my-5">
        <div class="row">
            <div class=" col-12 mx-auto">
                <div class="card z-index-0 fadeIn3 fadeInBottom mt-6">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                            <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Rezervasyonlar</h4>
                        </div>
                    </div>

                    @if (Model.ReservationViewModels.Count > 0)
                    {
                        <table class="table m-auto">
                            <thead>
                                <tr>
                                    <th>Rezervasyon Id</th>
                                    @if (Model.RoleName == "client")
                                    {
                                        <th>Terapist Bilgileri</th>
                                    }
                                    else
                                    {
                                        <th>Danışan Bilgileri</th>
                                    }
                                    <th>Rezervasyon Tarihi</th>
                                    <th>Onaylı Mı</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var reservation in Model.ReservationViewModels)
                                {
                                    <tr>
                                        <td rowspan="3">@reservation.Id</td>
                                        @if (Model.RoleName == "client")
                                        {
                                            <td>@reservation.TherapistName</td>
                                        }
                                        else
                                        {
                                            <td>@reservation.ClientName</td>
                                        }
                                        <td rowspan="3">@reservation.ReservationDate</td>
                                        <td rowspan="3">
                                            <form asp-area=""
                                          asp-controller="Reservation"
                                          asp-action="UpdateIsConfirmed"
                                          asp-route-id="@reservation.Id" id="form-isConfirmed-@reservation.Id">
                                                <div class="form-check form-switch">
                                                    @if (Model.RoleName == "client" || reservation.IsConfirmed)
                                                    {
                                                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" asp-for="@reservation.IsConfirmed" disabled />
                                                    }
                                                    else
                                                    {
                                                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" asp-for="@reservation.IsConfirmed" onchange="document.getElementById('form-isConfirmed-@reservation.Id').submit();" />
                                                    }

                                                </div>
                                            </form>

                                        </td>
                                        <td rowspan="3">
                                            <button class="btn btn-danger">İptal et</button>
                                            @if (Model.RoleName == "client" && !reservation.IsPaid && reservation.IsConfirmed)
                                            {
                                                <a
                                                    asp-area=""
                                                    asp-controller="Reservation"
                                       asp-action="Checkout"
                                       asp-route-id="@reservation.Id"
                                       method="get"
                                                    class="btn btn-success">Ödeme Yap</a>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        @if (Model.RoleName == "client")
                                        {
                                            <td>@reservation.TherapistEmail</td>
                                        }
                                        else
                                        {
                                            <td>@reservation.ClientEmail</td>
                                        }
                                    </tr>
                                    <tr>
                                        @if (Model.RoleName == "client")
                                        {
                                            <td>@reservation.TherapistPhoneNumber</td>
                                        }
                                        else
                                        {
                                            <td>@reservation.ClientPhoneNumber</td>
                                        }
                                    </tr>

                                }

                            </tbody>

                        </table>

                    }
                    else
                    {
                        <h4 class="alert alert-warning">Hiç ilanınız bulunmamktadır.</h4>
                    }

                </div>
            </div>
        </div>
    </div>
</div>