@model ServiceModelList
@{
    Layout = "_Layout_Index";
}

<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">

    @*Section 1 sayılı bölüm*@
    <section class="pt-3 pb-4" id="count-stats">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 mx-auto py-3">
                    <div class="row">
                        <div class="col-md-4 position-relative">
                            <div class="p-3 text-center">
                                <h1 class="text-gradient text-primary"><span id="state1" countTo="30">0</span>+</h1>
                                <h5 class="mt-3">Terapist</h5>
                                <p class="text-sm font-weight-normal">
                                    Birbirinden deneyimli terapistler
                                </p>
                            </div>
                            <hr class="vertical dark">
                        </div>
                        <div class="col-md-4 position-relative">
                            <div class="p-3 text-center">
                                <h1 class="text-gradient text-primary"> <span id="state2" countTo="100">0</span>+</h1>
                                <h5 class="mt-3">Danışan</h5>
                                <p class="text-sm font-weight-normal">
                                    Hizmetten memnun kullanıcı
                                </p>
                            </div>
                            <hr class="vertical dark">
                        </div>
                        <div class="col-md-4">
                            <div class="p-3 text-center">
                                <h1 class="text-gradient text-primary" id="state3" countTo="9">0</h1>
                                <h5 class="mt-3">Hizmet</h5>
                                <p class="text-sm font-weight-normal">
                                    Farklı kategoride hizmetler
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @*Section Services*@

    <div class="container">
        @if (Model.ServiceModels.Count > 0)
        {
            @foreach (var service in Model.ServiceModels)
            {
                <div class="card card-nav-tabs mb-5">
                    <div class="card-header text-bg-primary d-flex justify-content-between">
                        <img src="~/images/ProfilePics/Therapists/@service.ImageUrl" class="card-img-top" style="width:150px" />
                        <h3 class="display-6 fs-3 text-white"><span class="fs-bold">@service.Therapist.Title.Name</span> @service.User.FirstName @service.User.LastName</h3>
                    </div>
                    <div class="card-body">
                        <div class="card-title d-flex justify-content-between">
                            <div>
                                @{
                                    foreach (var category in service.Categories)
                                    {
                                        <button type="button" class="btn btn-light rounded-5">@category.Name</button>
                                    }
                                }
                            </div>
                            <span class="text-dark fw-bold display-5 fs-3 me-3 mt-3"> @($"{service.Price:C2}")</span>
                        </div>
                        <p class="card-text">@service.Description</p>
                        <form asp-area=""
                      asp-controller="Reservation"
                      asp-action="Create"
                      asp-route-id="@service.ServiceId"
                              method="get">
                            <div class="row d-flex justify-content-end">
                                <div class="col-md-2 p-0 m-0">
                                    <button type="submit" class="btn btn-primary m-0">Rezervasyon Oluştur</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            }

        }
    </div>

    @*Section 2 Dönen kart*@
    <section class="my-5 py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
                    <div class="rotating-card-container">
                        <div class="card card-rotate card-background card-background-mask-primary shadow-primary mt-md-0 mt-5">
                            <div class="front front-background"
                                 style="background-image: url(https://images.unsplash.com/photo-1569683795645-b62e50fbf103?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80); background-size: cover;">
                                <div class="card-body py-7 text-center">
                                    <i class="material-icons text-white text-4xl my-3">touch_app</i>
                                    <h3 class="text-white">Kayıt <br /> Ol</h3>
                                    <p class="text-white opacity-8">
                                        Kolay bir şekilde kayıt olup alanında deneyimli terapistler tarafindan kaliteli hizmet alabilirsiniz.
                                    </p>
                                </div>
                            </div>
                            <div class="back back-background"
                                 style="background-image: url(https://images.unsplash.com/photo-1498889444388-e67ea62c464b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1365&q=80); background-size: cover;">
                                <div class="card-body pt-7 text-center">
                                    <h3 class="text-white">Kayıt / Giriş</h3>
                                    <p class="text-white opacity-8">
                                        Hesabınız var ise giriş yapabilir, yoksa kolayca sitemize kaydınızı gerçekleştirip hizmetlerimizden yararlanabilirsiniz.
                                    </p>
                                    <a asp-area="" asp-controller="Account" asp-action="Index" target="_blank"
                                       class="btn btn-white btn-sm w-50 mx-auto mt-3">Giriş Yap</a>
                                    <div class="d-flex">
                                        <a asp-area="" asp-controller="Account" asp-action="Register" asp-route-id="0" target="_blank"
                                           class="btn btn-white btn-sm w-50 mx-auto mt-3">Danışan Kaydı</a>
                                        <a asp-area="" asp-controller="Account" asp-action="Register" asp-route-id="0" target="_blank"
                                           class="btn btn-white btn-sm w-50 mx-auto mt-3">Terapist Kaydı</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 ms-auto">
                    <div class="row justify-content-start">
                        <div class="col-md-6">
                            <div class="info">
                                <i class="material-icons text-gradient text-primary text-3xl">content_copy</i>
                                <h5 class="font-weight-bolder mt-3">Güvenli Kullanım</h5>
                                <p class="pe-5">
                                    Almış oluduğumuz önlemler ile verileriniz güvenlidir.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info">
                                <i class="material-icons text-gradient text-primary text-3xl">flip_to_front</i>
                                <h5 class="font-weight-bolder mt-3">Hızlı Dönüş</h5>
                                <p class="pe-3">
                                    Oluşturduğunuz randevu ile anında terapistlerimiz tarafından onaylanabilirsiniz.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-start mt-5">
                        <div class="col-md-6 mt-3">
                            <i class="material-icons text-gradient text-primary text-3xl">price_change</i>
                            <h5 class="font-weight-bolder mt-3">Online Ödeme Yöntemi</h5>
                            <p class="pe-5">
                                Sanal post ile güvenli bir şekilde ödemenizi yapıp hizmetten faydalanabilirsiniz.
                            </p>
                        </div>
                        <div class="col-md-6 mt-3">
                            <div class="info">
                                <i class="material-icons text-gradient text-primary text-3xl">devices</i>
                                <h5 class="font-weight-bolder mt-3">Kolay Arayüz</h5>
                                <p class="pe-3">
                                    Kullanımı kolay arayüzü ile sitemizi ister mobil ister web'de rahatça kullanabilirsiniz.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    @*// Categories*@
    @*Section 4*@
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="row text-center my-sm-3 mt-5">
                    <div class="col-lg-6 mx-auto">
                        <h2 class="badge bg-primary mb-3 fs-5">Kategoriler</h2>
                        <p class="lead">Terapistlerimizin hizmet verdiği alanlar</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5">

            <div class="row mt-4">
                @foreach (var category in Model.Categories)
                {
                    <div class="col-md-4 mb-3 p-5">
                        <a >
                            <div class="card move-on-hover">
                                <img class="img-fluid" style="height:180px"
                                     src="~/images/Images/@category.ImageUrl"
                                     alt="categories">
                            </div>
                            <div class="my-4">
                                <h6 class="mb-0 text-primary text-center">@category.Name</h6>
                            </div>
                        </a>
                    </div>
                }


            </div>

        </div>
    </section>
</div>