@model List<ServiceModel>
@{
    Layout = "_Layout_Index";
}

<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">

    @*Section 1 sayılı bölüm*@
    <section class="pt-3 pb-4" id="count-stats">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 mx-auto py-3">
                    <div class="row">
                        <div class="col-md-4 position-relative">
                            <div class="p-3 text-center">
                                <h1 class="text-gradient text-primary"><span id="state1" countTo="70">0</span>+</h1>
                                <h5 class="mt-3">Coded Elements</h5>
                                <p class="text-sm font-weight-normal">
                                    From buttons, to inputs, navbars, alerts or cards, you are
                                    covered
                                </p>
                            </div>
                            <hr class="vertical dark">
                        </div>
                        <div class="col-md-4 position-relative">
                            <div class="p-3 text-center">
                                <h1 class="text-gradient text-primary"> <span id="state2" countTo="15">0</span>+</h1>
                                <h5 class="mt-3">Design Blocks</h5>
                                <p class="text-sm font-weight-normal">
                                    Mix the sections, change the colors and unleash your creativity
                                </p>
                            </div>
                            <hr class="vertical dark">
                        </div>
                        <div class="col-md-4">
                            <div class="p-3 text-center">
                                <h1 class="text-gradient text-primary" id="state3" countTo="4">0</h1>
                                <h5 class="mt-3">Pages</h5>
                                <p class="text-sm font-weight-normal">
                                    Save 3-4 weeks of work when you use our pre-made pages for your
                                    website
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @*Section Services*@

    <div class="container">
        @foreach (var service in Model)
        {
            <div class="card card-nav-tabs mb-5">
                <div class="card-header text-bg-warning d-flex justify-content-between">
                    <img src="~/images/ProfilePics/Therapists/@service.ImageUrl" class="card-img-top" style="width:150px" />
                    <h3 class="display-6 fs-3"><span class="fs-bold">@service.Therapist.Title.Name</span> @service.User.FirstName @service.User.LastName</h3>
                </div>
                <div class="card-body">
                    <div class="card-title d-flex justify-content-between">
                        <div>
                            @{
                                foreach (var category in service.Categories)
                                {
                                    <button type="button" class="btn btn-light rounded-5">@category.Name</button>
                                }
                            }
                        </div>
                        <span class="text-success display-5 fs-3"> @($"{service.Price:C2}")</span>
                    </div>
                    <p class="card-text">@service.Description</p>
                    <div class="row d-flex justify-content-end">
                        <form asp-area=""
                        asp-controller="Reservation"
                        asp-action="Create"
                        asp-route-id="@service.ServiceId"
                        method="get">
                        
                        @*<div class="col-md-4">
                            @{
                                DateTime today = DateTime.Now;
                                int year = today.Year;
                                int month = today.Month;
                                int day = today.Day+21;
                                DateTime maximumDate = new DateTime(year, month, day);
                                DateTime minimumDate = DateTime.Now;
                            }
                            <label asp-for="@service.RezervationDate" class="col-md-4 col-lg-3 col-form-label"></label>
                            <input asp-format="{0:yyyy-MM-dd}" asp-for="@service.RezervationDate" class="form-control"
                                   max="@(maximumDate.ToString("0:yyyy-MM-ddTHH:00"))"
                                   min="@(minimumDate.ToString("0:yyyy-MM-ddTHH:00"))" value=@minimumDate.ToString("yyyy-MM-ddTHH:00") >
                        </div>*@
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-primary ">Rezervasyon Oluştur</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        }

    </div>







    @*Section 2 Dönen kart*@
    <section class="my-5 py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
                    <div class="rotating-card-container">
                        <div class="card card-rotate card-background card-background-mask-primary shadow-primary mt-md-0 mt-5">
                            <div class="front front-background"
                                 style="background-image: url(https://images.unsplash.com/photo-1569683795645-b62e50fbf103?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80); background-size: cover;">
                                <div class="card-body py-7 text-center">
                                    <i class="material-icons text-white text-4xl my-3">touch_app</i>
                                    <h3 class="text-white">Feel the <br /> Material Kit</h3>
                                    <p class="text-white opacity-8">
                                        All the Bootstrap components that you need in a development have
                                        been re-design with the new look.
                                    </p>
                                </div>
                            </div>
                            <div class="back back-background"
                                 style="background-image: url(https://images.unsplash.com/photo-1498889444388-e67ea62c464b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1365&q=80); background-size: cover;">
                                <div class="card-body pt-7 text-center">
                                    <h3 class="text-white">Discover More</h3>
                                    <p class="text-white opacity-8">
                                        You will save a lot of time going from prototyping to
                                        full-functional code because all elements are implemented.
                                    </p>
                                    <a href=".//sections/page-sections/hero-sections.html" target="_blank"
                                       class="btn btn-white btn-sm w-50 mx-auto mt-3">Start with Headers</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 ms-auto">
                    <div class="row justify-content-start">
                        <div class="col-md-6">
                            <div class="info">
                                <i class="material-icons text-gradient text-primary text-3xl">content_copy</i>
                                <h5 class="font-weight-bolder mt-3">Full Documentation</h5>
                                <p class="pe-5">
                                    Built by developers for developers. Check the foundation and you will find everything
                                    inside our documentation.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info">
                                <i class="material-icons text-gradient text-primary text-3xl">flip_to_front</i>
                                <h5 class="font-weight-bolder mt-3">Bootstrap 5 Ready</h5>
                                <p class="pe-3">
                                    The world’s most popular front-end open source toolkit, featuring Sass variables and
                                    mixins.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-start mt-5">
                        <div class="col-md-6 mt-3">
                            <i class="material-icons text-gradient text-primary text-3xl">price_change</i>
                            <h5 class="font-weight-bolder mt-3">Save Time & Money</h5>
                            <p class="pe-5">
                                Creating your design from scratch with dedicated designers can be very expensive. Start
                                with our Design System.
                            </p>
                        </div>
                        <div class="col-md-6 mt-3">
                            <div class="info">
                                <i class="material-icons text-gradient text-primary text-3xl">devices</i>
                                <h5 class="font-weight-bolder mt-3">Fully Responsive</h5>
                                <p class="pe-3">
                                    Regardless of the screen size, the website content will naturally fit the given
                                    resolution.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @*Section 3*@
    <section class="my-5 py-5">
        <div class="container">
            <div class="row">
                <div class="row justify-content-center text-center my-sm-5">
                    <div class="col-lg-6">
                        <span class="badge bg-primary mb-3">Infinite combinations</span>
                        <h2 class="text-dark mb-0">Huge collection of sections</h2>
                        <p class="lead">
                            We have created multiple options for you to put together and customise into pixel perfect
                            pages.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        @*Therapist Service Alanı*@
        <div class="container mt-sm-5 mt-3">
            <div class="row">
                <div class="col-lg-3">
                    <div class="position-sticky pb-lg-5 pb-3 mt-lg-0 mt-5 ps-2" style="top: 100px">
                        <h3>Elements</h3>
                        <h6 class="text-secondary font-weight-normal pe-3">
                            70+ carefully crafted small elements that come with
                            multiple colors and shapes. These are only a few of them.
                        </h6>
                    </div>
                </div>
                <div class="col-lg-9">
                    Main
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="position-sticky pb-lg-5 pb-3 mt-lg-0 mt-5 ps-2" style="top: 100px">
                        <h3>Elements</h3>
                        <h6 class="text-secondary font-weight-normal pe-3">
                            70+ carefully crafted small elements that come with
                            multiple colors and shapes. These are only a few of them.
                        </h6>
                    </div>
                </div>
                <div class="col-lg-9">
                    Main
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="position-sticky pb-lg-5 pb-3 mt-lg-0 mt-5 ps-2" style="top: 100px">
                        <h3>Elements</h3>
                        <h6 class="text-secondary font-weight-normal pe-3">
                            70+ carefully crafted small elements that come with
                            multiple colors and shapes. These are only a few of them.
                        </h6>
                    </div>
                </div>
                <div class="col-lg-9">
                    Main
                </div>
            </div>
        </div>
    </section>


    @*// Categories*@
    @*Section 4*@
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="row text-center my-sm-5 mt-5">
                    <div class="col-lg-6 mx-auto">
                        <span class="badge bg-primary mb-3">Boost creativity</span>
                        <h2 class="">With our coded pages</h2>
                        <p class="lead">The easiest way to get started is to use one of our <br /> pre-built example pages. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-8">
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <a href="./pages/about-us.html">
                                <div class="card move-on-hover">
                                    <img class="w-100"
                                         src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/material-design-system/assets/img/about-us.jpg"
                                         alt="aboutus">
                                </div>
                                <div class="mt-2 ms-2">
                                    <h6 class="mb-0">About Us Page</h6>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 mt-md-0 mt-5">
                            <a href="./pages/contact-us.html">
                                <div class="card move-on-hover">
                                    <img class="w-100"
                                         src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/material-design-system/assets/img/contact-us.jpg"
                                         alt="contacus">
                                </div>
                                <div class="mt-2 ms-2">
                                    <h6 class="mb-0">Contact Us Page</h6>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 mt-md-3 mt-6">
                            <a href="./pages/sign-in.html">
                                <div class="card move-on-hover">
                                    <img class="w-100"
                                         src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/material-design-system/assets/img/sign-in.jpg"
                                         alt="signin">
                                </div>
                                <div class="mt-2 ms-2">
                                    <h6 class="mb-0">Sign In Page</h6>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 mt-md-3 mt-6">
                            <a href="./pages/author.html">
                                <div class="card move-on-hover">
                                    <img class="w-100"
                                         src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/material-design-system/assets/img/author.jpg"
                                         alt="author">
                                </div>
                                <div class="mt-2 ms-2">
                                    <h6 class="mb-0">Author Page</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mx-auto mt-md-0 mt-5">
                    <div class="position-sticky" style="top:100px !important">
                        <h4 class="">Presentation Pages for Company, Sign In Page, Author and Contact</h4>
                        <h6 class="text-secondary font-weight-normal">
                            These is just a small selection of the multiple
                            possibitilies you have. Focus on the business, not on the design.
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>