@model List<AdminViewModel>
@{
    List<AdminViewModel> admins = Model;
}
<div class="pagetitle">
    <h1>Adminler</h1>

</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">

                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-title">Admin İşlemleri</h5>
                        <div class="d-flex flex-row gap-3">
                            <a class="btn btn-success"
                               asp-area="Admin"
                               asp-controller="Admin"
                               asp-action="Create">Admin Ekle</a>
                        </div>

                    </div>

                    <!-- Table with stripped rows -->
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Ad Soyad</th>
                                <th scope="col">Kullanıcı Adı</th>
                                <th scope="col">Mail</th>
                                <th scope="col">Kayıt Tarihi</th>
                                <th scope="col">İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var admin in admins)
                            {
                                <tr>
                                    <th scope="row">@admin.UserName</th>
                                    <td>@admin.FirstName @admin.LastName</td>
                                    <td>@admin.UserName</td>
                                    <td>@admin.Email</td>
                                    <td>@admin.DateOfRegistration.ToShortDateString()</td>
                                    <td>
                                        <a class="btn btn-warning"
                                       asp-area="Admin"
                                       asp-controller="Admin"
                                       asp-action="Edit"
                                        asp-route-id="@admin.UserId">Düzenle</a>
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModel_@admin.UserName">
                                            Sil
                                        </button>
                                    </td>
                                </tr>
                                <!-- Button trigger modal -->
                                

                                <!-- Modal -->
                                <div class="modal fade" id="deleteModel_@admin.UserName" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5 text-danger" id="exampleModalLabel">Admin kalıcı olarak silinecektir!</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Silme işlemini onaylıyor musunuz?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                                                
                                                <a class="btn btn-danger"
                                               asp-area="Admin"
                                               asp-controller="Admin"
                                               asp-action="Delete"
                                               asp-route-id="@admin.Email">Sil</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>
    </div>
</section>

